- function y() {
  ul.errors
    each e in alerts.errors 
      li= e
- }

- if (typeof alerts != 'undefined')
  case alerts.style
    when 'warning' 
      .alert=alerts.msg
        - y()
    when 'success'
      .alert.alert-success
          i.icon-ok
          span= alerts.msg
    when 'error'
      .alert.alert-error #{alerts.msg}
        - y()
    when 'info'
      .alert.alert-info=alerts.msg
        - y()
