extends layout
block content

  div.container
    h2 #{rsvpTotal} people have RSVPd

    section.well
      table.table.table-condensed
        each code, c in groups
            tbody
              tr
                td
                  h3= c
                td
                  h3= code.length
              each person in code
                tr
                  td= person.name
                  td= person.email

